<div>   

    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TuMejorOpcion</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#/friends" >Mis Amigos</a></li>
                    <li><a ng-click="redirectToPurchasedGiftCards()">Bonos Comprados</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Header -->

    <!-- Team Section -->
    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" ng-show="justPurchased">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>Perfecto!</strong> Tu compra se ha realizado con éxito.
                </div>
            </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hola {{me.name}}!</h2>
                    <h3 class="section-subheading text-muted">Estos son tus amigos, selecciona alguno para ver qué le gusta!</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6" ng-hide="facebookFriends.length==0">
                    
                    <h2 class="section-subheading text-center">Facebook</h2>
                    
                    <table class="table table-bordered table-striped">


                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="friend in facebookFriends">
                                <td><img src = "{{friend.imgUrl}}"></td>
                                <td>{{friend.name}}</td>
                                <td><button class="btn btn-primary" ng-click="didSelectFriend(friend, 'facebook')">Elegir amigo</button></td>
                            </tr>
                        </tbody>

                    </table>
                    
                </div>
                <div class="col-md-6" ng-hide="googleFriends.length==0">
                    
                    <h2 class="section-subheading text-center">Google+</h2>
                    
                    <table class="table table-bordered table-striped">


                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="friend in googleFriends">
                                <td><img src = "{{friend.imgUrl}}"></td>
                                <td>{{friend.name}}</td>
                                <td><button class="btn btn-primary" ng-click="didSelectFriend(friend, 'google')">Elegir amigo</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                
            </div>
            
            <div class="row">

                
            </div>
            
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; TuMejorOpcion.com 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>