<div>   
    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 ng-show="redeemSuccess" class="section-heading">Gracias por redimir tu bono! Úsalo sabiamente</h2>
                    <h2 ng-hide="redeemSuccess" class="section-heading">Lo sentimos, hubo un error al redimir tu bono, quizás ya lo has redimido antes</h2>
                </div>
            </div>       
    </section>
</div>
